body{
  margin: 0;
  text-align: center;
}

h1{
  color: white;
  font-size: 40px;
  font-family: 'Outfit', sans-serif;
  margin-bottom: 10px;
}

h2{
  color: white;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 40px;
  margin-top: 10px;
}

.profile{
border-radius: 50%;
width: 20%;
position: relative;
top: 700px;
 }


.container-top{
  background-color: #3AB4F2;
  height: 500px;
  padding: 40px;
  position: relative;
}

.center{
max-height: 70%;
margin: 0;
position: absolute;
bottom: 0;
right: 200px;
}
